@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
button:hover,
input:hover {
  opacity: 0.8;
}
h1 {
  text-align: center;
  margin-top: 40px;
  color: #fff;
  font-size: 50px;
}
img {
  width: 30%;
}
input,
button {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: auto;
}
.todo {
  background-color: #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-top: 80px;
  display: flex;
}
.todo input {
  flex: 5;
  border: 1px solid #eee;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 25px;
}
.todo input:hover {
  border: 1px solid red;
}
.todo button {
  flex: 1;
  border: none;
}
.todo button :hover {
  opacity: 0.8;
}
.list-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #ddd;
}
.list-item p {
  flex: 5;
}
.list-item button {
  flex: 1;
  border: none;
  background-color: red;
  color: #fff;
  height: 40px;
  width: 60px;
  border-radius: 4px;
}
